<nav class="navbar mx-auto">
  <div class="col-6">
    <img src="assets/img/Zengrowth_Logo.png">
  </div>
  <div class="mobile-menu  col-6">
    <a href="#" class="btn float-right btn-light">
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div class="large-menu col-6 row display-inline-block">
    <a href="#" class="col-2 my-auto">Services</a>
    <a href="#" class="col-2 my-auto">About</a>
    <a href="#" class="col-2 my-auto">Blog</a>
    <button class="col-3 my-auto btn-primary">Get Started</button>
    <div class="col-3 my-auto display-flex">
      <div class="btn float-right btn-light">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</nav>
