<footer class="footi">
    <div class="row display-flex justify-content-space-between">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <img src="assets/img/Zengrowth_Logo.png">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 icons">
        <img src="assets/img/Fill%201.png">
        <img src="assets/img/linkedin.png">
      </div>
      <hr>
      <div class="row display-flex justify-content-space-between rights">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          © 2020 Zengrowth. All rights reserved.
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 prov row no-gutters">
          <a href="#" class="col-3 mx-auto">AGB</a>
          <a href="#" class="col-3 mx-auto">Privacy</a>
          <a href="#" class="col-3 mx-auto">Cookies</a>
          <a href="#" class="col-3 mx-auto">Impressum</a>
        </div>
      </div>
    </div>
</footer>
