.footi{
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 0 300px 0 100px;
}
.container{
  height: 100px;
  width: 100%;
}

hr {
  width: 100%;
  margin: 10px auto 10px auto;
  height: 10px;
  background-color: white;
  opacity: 0.5;
}

.rights{
  width: 1500px;
}

.icons{
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1496px) {
  .footi {
    padding: 0 !important;
  }
}
