<div class="formi">
  <h1 class="title">Let us get to know you better</h1>
  <form>
    <div class="row">
      <div class="form-group col-6">
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="form-group col-6">
        <input type="text" class="form-control" placeholder="Surname">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
      <input type="text" class="email form-control">
      <div class="invalid-feedback d-block">Please enter a valid email</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 line">
        Tell us a bit about yourself
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <textarea class="form-control" placeholder="What’s the biggest challenge your marketing team is now facing? Where would you like to be in 6 months from now with your marketing?"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 line">
        What areas of marketing are you interested in?
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Paid media & social
          </label>
        </div><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Content
        </label>
      </div><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Growth strategy
        </label>
      </div>
      </div>
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Tools & integrations
          </label>
        </div><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Lead Generation
        </label>
      </div><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Design or development
        </label>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 line">
        What's your mounthly budget like??
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <select id="inputState" class="form-control">
          <option selected>Select Your Amount</option>
          <option>1$</option>
          <option>2$</option>
          <option>3$</option>
        </select>
      </div>
    </div>
    <div class="row">
    <div class="form-group col-12">
    <button type="submit" class="btn btn-primary" (click)="buttonClicked()">Start Your Project</button>
    </div>
    </div>
  </form>
</div>
